body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  display: flex;
}


li{
  display: inline;
  float: left;
  padding: 50px;
}


.activeList{
  padding: 300px;
  transform: scale(1.5);
}


.activeDetails{
  display:flex;
  
}

.disableDetails{
  display: none;
}

.detail-container{
  width: 700px;
}

.detail-info-card{
  display: flex;
}

.detail-info-card-icon{
  width: 50%;
}
